.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.content {
	background-color: #ccc;
	border-radius: 8px;
	padding: 1.5rem;
	width: fit-content;
	width: 450px;
}

.content form {
	display: flex;
	row-gap: 1rem;
	flex-direction: column;
}

.content form input {
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	border: 1px solid #ccc;
}

.content form button {
	width: 50%;
	margin-left: auto;
}

form input.inputError{
	border: 1px solid #fa0404;
}

.msgError {
	color: #fa0404;
	font-size: 11px;
	padding-left: 0.3rem;
}

div.box {
	width: 100%;
	display: inherit;
	flex-direction: inherit;
}